/* CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,img,input,textarea,p,blockquote,th,td,a,abbr,acronym,address,caption,cite,code,dfn,em,strong,th,var{font-family:Helvectica,Verdana,Arial,sans-serif;margin:0;padding:0;border:0;text-decoration:none;font-style:normal;font-weight:normal;text-align:left;color:#FFF;/*line-height:14px;*/}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
input:focus,a:focus,textarea:focus {outline:0;}

body { background: #000; }
#Chat { padding-top: 5px; }
#header {
    border-bottom-width: 20px;
    -webkit-border-image: url(images/header.png) 0 0 20 0 round;
    border-image: url(images/header.png) 0 0 20 0 round;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 32px;
}
    #header h1 {
        font-size: 16px;
        letter-spacing: -1px;
        font-weight: bold;
        color: #444;
        margin: 5px 0 0 10px;
        padding: 5px 0 0 35px;
    }
    #header h1 img {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 28px;
        height: 28px;
        -webkit-user-select: none;
        user-select: none;
        border: 1px solid #DDD;
    }
    #header p.starttime {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #999;
        font-weight: bold;
    }

.outgoing, .incoming {
    clear: both;
    position: relative;
    width: 100%;
    /*overflow: hidden;*/
    margin-top:15px;
}
    .outgoing:after, .incoming:after {
    display: block;
    content: '.';
    height: 0; width: 0;
    overflow: hidden;
    clear: both;
}

h2 {
    position: absolute;
    top: 4px;
    width: 56px;
    height: 56px;
    border: 2px solid #FFF;
    text-align: left;
    text-indent: -999em;
}
    h2 span {
        position: absolute;
        top: 56px;
        left: -5px;
        text-indent: 0;
        color: #FFF;
        width: 56px;
	height: 12px;
	overflow: hidden;
        font-size:10px;
        text-align: center;
    }
    h2 img {
    position: absolute;
    left: 0;
    width: 56px;
    height: 56px;
    display:block;
}

.messageContent {
    float: left;
    width: auto;
    margin: 0 24px 3px 70px;
    border-width: 41px;
    border-top-width: 37px;
    border-bottom-width: 30px;
	font-size: 18px;
	font-style: bold;
    border-left-width:47px;
	color: #FFF;
    -webkit-border-image: url(images/blue.png) 31 31 10 31 round round;
    border-image: url(images/blue.png) 31 31 31 31 round round;
}
    .messageContent p {
        color: #FFF;
        margin: -38px -30px 20px 20px;
        /*background: #39D;*/
        min-width: 30px;
        text-overflow: ellipsis;
        word-break: keep-all;
        font-weight: normal;
    }
    .messageContent p a {
        word-break: break-all;
        padding: 2px;
        text-decoration: underline;
        color: #FFF;
    }
    .messageContent p a:hover {
        color: #FFF;
        background: #FFF;
        -webkit-border-radius: 5px;
        border-radius: 2px;
        text-decoration: none;
    }
    .messageContent p + p {
        border-top: 1px solid rgba(255,255,255,0.65);
        margin-top: 3px;
        padding-top: 3px;
    }
    .messageContent p img {
        width: auto;
        max-width: 100%;
        vertical-align: sub;
        line-height: 18px;
    }
    .messageContent p img.scaledToFitImage {
        width: auto;
        max-width: 100%;
    }
    
.incoming h2 {
    left: 4px;
}
.outgoing h2 {
    left: 4px;
}

p.statusIcon {
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top: 23px;
}
.incoming p.statusIcon {
    left: -3px;
    display:none;
}
.outgoing p.statusIcon {
    right: -3px;
    display:none;
}

.status p {
    text-align: left;
    font-size: 17px;
    color: #FFF;
    margin: 0 0 5px;
    height:30px;
}
.history { opacity: 0.5; }
