.messageContent {
    -webkit-border-image: url(../images/blue-left.png) 41 41 25 47 round round;
    /*border-image: url(../images/blue-left.png) 31 31 31 31 round round;*/
}
.messageContent p {
    color: #FFF;
    /*background: #39D;*/
}


.outgoing .messageContent {
    -webkit-border-image: url(../images/grey-left.png) 41 41 25 47 round round;
    /*border-image: url(../images/grey-left.png) 31 31 31 31 round round;*/
}
.outgoing .messageContent p {
    /*background: #DDD;*/
    color: #FFF;
}