<div class="%messageClasses%">
    <h2><span>%time%</span><img src="%userIconPath%" alt="%sender%" />%sender%:</h2>
    <p class="statusIcon"><img src="%senderStatusIcon%" alt="" /></p>
    <div class="messageContent"><p>%message%</p></div>
</div>
<div id="insert"></div>